html,body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins',sans-serif ;
    background-color: slategrey;
  }
  
  .navbar{
    padding: .8rem;
    background-color: orange;
    text-align: center;
  }

  .navbar-nav li{
    padding-right: 20px;
  }
  
  .nav-link{
    font-size: 1.1em !important;
    color:black
  }

  .carousel-inner img{
    width: 100%;
    height: 100%
  }

  .carousel-caption{
    position: absolute;
    transform: translateY(-50%);
  }